* {
  box-sizing: border-box;
}

body {
	background: #ff743d;
	margin: 0;
}

h2	{
	margin: 10 0;
	text-align: center;
	font-family: sans-serif;
	color: teal;
	font-size: 3.5em;

}

.squares {
	background: teal;
	margin: 0 auto;
	text-align: center;

}

.square {
	background: white;
	display: inline-block;
	margin: 2px;
	padding: 2px;
}

.changed {
	background: pink;
}